*
{
    font-family: Arial, Helvetica, sans-serif;
}
header
{
    background-color: green;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div
{
    color:whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
}
    
   
h2
{
    background-color: green;
    text-align: center;
    color: whitesmoke;
}
nav
{
    padding: 3px;
    display: flex;
    flex-direction: row;
   
}
a{
    padding: 15px;
    text-transform: uppercase;
    border: solid 2px;
    border-color: lightgray;
    margin: 10px;
    color: aliceblue;
   
}
a:hover
{
    background-color: gold;
    padding-right: 10px;
}
.mmsu
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;

}
section
{
    background-color: gold;
    padding: 2%;
    flex-direction: column;
    display: flex;
    margin: auto;
    text-align: left;
    border: 5px solid green;

  
}
.arti1
{
   padding: 1%;
   flex-direction: row;
   display: flex;
   margin: auto;
   border: 5px solid green;
   text-align: center;
  
}
.arti2
{
   padding: 1%;
   flex-direction: row;
   display: flex;
   margin: 1px;
   border: 5px solid green;

   text-align: center;
}
h1
{
    text-align: center;
    color:whitesmoke ;
    background-color: green;
}
.table
{
    background-color: gold;
}
ol
{
    border: solid green;
    padding: 20px;
}   
footer
{
    text-align: center;
}



    